# Postgres Database Connection
POSTGRES_URL=postgresql://user:password@host/database

# Gmail SMTP for email verification
# Create an app password at https://myaccount.google.com/apppasswords
GMAIL_USER=ben@binary1702.com
GMAIL_APP_PASSWORD=drhjhttztswzrbfp


# Application configuration
NEXT_PUBLIC_BASE_URL=http://localhost:3000
VERIFICATION_EXPIRY_MINUTES=15
